@using Jewerly.Web.Utils
@model Jewerly.Web.Models.ProductSortModel
<div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Сортировка
        <span class="caret"></span>
    </button>
</div>

