


<div class="btn-group cart" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Сумма 179,99">
        <div id="cart">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Корзина
            <span class="glyphicon glyphicon-ok"></span>
            <span class="countProduct">1</span>
            <br/>
            <span class="glyphicon glyphicon-usd">59,99</span>
        </div>
    </button>



    <div class="dropdown-menu popover popover-content">
        <div>
            <a href="@Url.Action("AddressAndPayment", "Checkout")" class="btn btn-default btn-sm pull-left">Оформить заказ</a>
            <a href="@Url.Action("Index", "ShoppingCart")" class="btn btn-default btn-sm pull-right">Подробнее</a>
            <table class="table table-hover">
                <tr>
                    <td>Название</td>
                    <td>* 1</td>
                    <td>59,99</td>
                    <td><button type="button" class="close" aria-label="Close" title="удалить"><span aria-hidden="true">&times;</span></button></td>
                </tr>
                <tr>
                    <td>Название</td>
                    <td>* 1</td>
                    <td>59,99</td>
                    <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                </tr>
                <tr>
                    <td>Название</td>
                    <td>* 1</td>
                    <td>59,99</td>
                    <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                </tr>
                <tr>
                    <td>Название</td>
                    <td>* 1</td>
                    <td>59,99</td>
                    <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                </tr>
                <tr>
                    <td>Название</td>
                    <td>* 1</td>
                    <td>59,99</td>
                    <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                </tr>
                <tr>
                    <td>Название</td>
                    <td>* 1</td>
                    <td>59,99</td>
                    <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                </tr>
                <tr>
                    <td>Название</td>
                    <td>* 1</td>
                    <td>59,99</td>
                    <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                </tr>
                <tr>
                    <td>Название</td>
                    <td>* 1</td>
                    <td>59,99</td>
                    <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                </tr>
                <tr>
                    <td>Название</td>
                    <td>* 1</td>
                    <td>59,99</td>
                    <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                </tr>
                <tr>
                    <td>Название</td>
                    <td>* 1</td>
                    <td>59,99</td>
                    <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                </tr>
                <tr>
                    <td>Название</td>
                    <td>* 1</td>
                    <td>59,99</td>
                    <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                </tr>
                <tr>
                    <td>Название</td>
                    <td>* 1</td>
                    <td>59,99</td>
                    <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                </tr>

            </table>
        </div>
    </div>


</div>

