@model Jewerly.Web.Models.ShoppingCartMiniModel
<div class="btn-group cart" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" title="Корзина">
        <div id="cart">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Корзина
            <span id="top-card-count">(@Model.Count)</span><br />
            <span id="top-card-totals">@Model.TotalPrice @Model.Currency</span>
           </div>
    </button>
    <div id="mini-shopping-cart" class="dropdown-menu popover popover-content">
        @Html.Partial("_ShoppingCartItemsPartialView", Model)
    </div>
    </div>