@using Jewerly.Web.Utils
@model Jewerly.Web.Models.CategoriesMenuViewModel

    <nav class="navbar navbar-collapse" role=navigation>
        <div class="navbar-header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle collapsed btn-default width" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                Каталог
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <div id="menu-left" class="text-center shadow">
                    <!--Каталог---->
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h4 class="img-rounded text-uppercase">
                                <span class="glyphicon glyphicon-gift"></span> Каталог <span class="glyphicon glyphicon-gift"></span>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="row">
                                    <!---категории--->
                                    <ul class="nav nav-divider">
                                        @Html.MenuCategoriesLinks(Model)
                                    </ul>
                                </div><!---категории End--->
                            </div>
                        </div>
                    </div>

                </div> <!--Каталог End---->
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>


@*..........................................................*@

    <div class="panel panel-default" id="filter">
        <!-- Default panel contents -->
        <div class="panel-heading">Фильтр</div>
        <div class="panel-body">
            <!-- List group -->
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Размер
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">1<span class="glyphicon glyphicon-ok pull-right"></span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Материал
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Гипоаллергенный сплав<span class="glyphicon glyphicon-ok pull-right"></span></a></li>
                    <li><a href="#">Золото</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Камень
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Аметист<span class="glyphicon glyphicon-ok pull-right"></span></a></li>
                    <li><a href="#">Гранат</a></li>
                </ul>
            </div>
        </div>
    </div>
