@model Jewerly.Domain.Entities.Country

@{
    ViewBag.Title = "Страны";
    Layout = "~/Areas/Admin/Views/Shared/Admin _Layout.cshtml";
}

<h2>Удаление</h2>

<h3>Подтвердите удаление</h3>
<div>
    <h4>Страна</h4>
    <hr/>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-primary" />
            <a href="@Url.Action("Index", "Countries")" class="btn btn-default">Назад</a>
        </div>
    }
</div>
