
@{
    ViewBag.Title = "Trandycats";
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
}

    <div class="col-sm-4 col-md-3">
        <!--левая часть--->
            @Html.Partial("Menu")
    </div> <!--левая часть End--->

    <div class="col-sm-8 col-md-9">
        <!-----правая часть----->
        <div class="row bg shadow mgo">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title">Мои данные</h3>
                </div>
                <div class="panel-footer">

                    <div class="collapse-group">
                        В разделе "Мои данные" Вы можете редактировать информацию о себе.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title">История заказов</h3>
                </div>
                <div class="panel-footer">

                    <div class="collapse-group">
                        В данном разделе отображается история Ваших заказов.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title">Смена пароля</h3>
                </div>
                <div class="panel-footer">

                    <div class="collapse-group">
                        Если Вы хотите установить новый пароль, то можете сделать это в разделе "Смена пароля".
                    </div>
                </div>
            </div>
        </div>
    </div> <!-----правая часть End----->