@{
    ViewBag.Title = "Trandycats";
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
}

<div class="col-md-12">
    <div class="content_silver text-center">
        Адрес Вашей почты подтвержден. Пожалуйста, щелкните @Html.ActionLink("здесь", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"}) для входа в систему.
        <div><img src="/Content/img/ring.png" class="img-responsive" alt="TrandyCats" style="margin: auto;" /></div>
    </div>
</div>
