@{
    ViewBag.Title = "Trandycats";
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
}

<div class="col-md-12">
    <div class="content_silver text-center">
        Выш пароль сброшен. Пожалуйста, кликните на ссылке для @Html.ActionLink("входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        <div><img src="/Content/img/ring.png" class="img-responsive" alt="TrandyCats" style="margin: auto;" /></div>
    </div>
</div>

