@{
    ViewBag.Title = "Сброс пароля";
}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel"><img src="/Content/img/LogoTrandBig2.png" class="img-responsive" alt="TrandyCats" /></h4>
</div>
<div class="modal-body">
    <h4>@ViewBag.Title</h4>
    <hr />
    <div>
        Выш пароль сброшен. Пожалуйста, кликните на ссылке для @Html.ActionLink("входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
</div>
<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>
