<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ошибка 404</title>
</head>
<body>
    <table>
        <tr>
            <td>
                @RenderBody()
            </td>
        </tr>
    </table>
</body>
</html>