
<div class="navbar-form">
    <form role="search">
        <input type="text" class="form-control" placeholder="Поиск...">

        @*<div class="btn-group" role="group" aria-label="..." id="search">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            <div class="btn-group"><input type="text" class="form-control" placeholder="Поиск..."></div>
        </div>*@
    </form>
</div>